<div data-ng-app="app.hypocriteApp" data-ng-controller="hypocriteCtrl">
  <!-- Directive to draw states -->
  <div data-draw-states 
       data-state-boundaries="stateBoundaries"
       data-data="data"
       data-modal-function="generateModal">
  </div>
  <!-- Added states template here -->
  <center>
    <h1>50 States. 50 Hypocrites. </h1>
  </center>
  <center>
    <h3> These Americans oppose executive action to help immigrants and yet they live in the USA because their ancestors benefited from gracious immigration policies.  </h3>
  </center>
  <center>
    <h3 style='margin-top:-20px;'>Yeah. It doesn't make any sense to us either. </h3>
  </center>
  <div id="state-modal" ></div>
  <svg width="1160" height="600" id="statesvg"></svg> 
  <div each-state></div>
</div>