

#state-modal h4 {
    margin: 0;
    font-size: 14px;
}

#state-modal {
    /*background: rgba(0, 0, 0, 0.9);*/
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
    
    /*width:auto;*/
    width: 300px;
    max-width: 300px;
    padding: 4px;
    color: white;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    z-index: 999999;
    /*pointer-events: none;*/
}

#state-modal table {
    table-layout: fixed;
}

#state-modal tr td {
    padding: 0;
    margin: 0;
}

#state-modal tr td:nth-child(1) {
    width: 50px;
}

#state-modal tr td:nth-child(2) {
    text-align: center;
}

#statesvg {
    margin-left: 200px; 
    margin-top: -5px;
}

.state {
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
    cursor: hand; cursor: pointer;
}

.state:hover {
    fill-opacity: 0.3;
}